body {
  background-color: #000099;
}
body {
	background:  #000099;
	font-family: "Helvetica", sans-serif;
	background: linear-gradient(#00008B, #B0E0E6, #98FB98, #2E8B57);
}
h1 {
	color: orange;
	font-family: "Times New Roman", serif;
}	
h4 {
	color: Lime;
	font-family: "Arial", sans-serif;
}
ol {
	color: Magenta;
	font-family "Arial", sans-serif;
}
a {
	color: #800000;
	font-family "Arial", sans-serif;
}
nav ul {
	background-color: #006622;
	border-style: solid;
	border-color: red;
	border-radius: 10px;
	border-width: 1px;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	
}
nav ul li {
	list-style-type: none;
	color: #3333ff;
	margn-right: 20px;
	margn-left: 20px;
}
nav ul li a {
	text-decorration: none;
}
img {
	border: 2px solid MediumSlateBlue;

	
}
img:hover {
	border: 2px dotted GreenYellow;
}
table {
	border-radius: 10px;
}
}
#myCoolText {
	color: #8B0000;
	border: 2px ridge #8B008B;
	padding: 15px;
	text-align: center;
	animation-name: glow;
	animation-duration: 3s;
	animation-iteration-count: 1000;
}

#poo {
	color: #C71585;
	animation-name: glow;
	animation-duration: 3s;
	animation-iteration-count: 1000000000000000000000000000000000000000000009999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}
#poo2 {
	color: #191970;
	animation-name: glow;
	animation-duration: 3s;
	animation-iteration-count: 1000;
}
#cock {
	width: 40%;
	border-radius: 10%;
	
}
#cock:hover {
	animation-name: rollover;
	animation-duration: 3s;
	animation-iteration-count: 1;
	
}
	#ro {
	width: 40%;
	border-radius: 10%;
	
}


#ro:hover {
	animation-name: rollover;
	animation-duration: 1s;
	animation-iteration-count: 1;
	
}
#gang {
	width: 40%;
	border-radius: 10%;
	
}
#gang:hover {
	animation-name: rollover;
	animation-duration: 2s;
	animation-iteration-count: 1;
	
}
@keyframes rollover {
	0% {
	  transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
@keyframes myFirstAnimation {
	from {
		width: 100px;
	}
	to {
		width: 300px;
	}
}
@keyframes glow {
	0% {
		color: #800080;
	}
	50% {
		color: #C0C0C0 ;
	}
	100% {
		color: #DC143C;
	}
}
@keyframes slide {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 600vw
	}
}
.niceLinks {
	text-decoration: none;
	color: #7B68EE;
}
.niceLinks:hover{
	color: #7FFF00
}
.tinyPicture {
	height: 60px;
	border-radius: 10px;
}
.card {
	width: 200px;
	height: 200px;
	border: 2px solid #000000;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 10px;
	margin-top: 10px;
	font-family: "Trebuchet MS", sans-serif;
	transition: all 0.2s ease-out;
}
.card:hover {
	border-color: #00FF00;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	transform: translateY(-2px);
}
#rose {
	width: 40%;
	border-radius: 40px;
	animation-name: myFirstAnimation;
	animation-duration: 3s;
	animation-iteration-count: 1;
	z-index: 7;
}
@media all and (min-width:900px) {
	nav ul {
		flex-direction: row;
		justify-content: space-around;
	}
}
figure {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.sideNoteStyle {
	border: dotted 1px DeepSkyBlue;
	background-color: #B22222;
	padding: 0.5em;
	margin: 0.5em;
}
.warnorange {
	background-color: #BDB76B;
}
.warnred {
	color: #DDA143C;
	font-size: larger;
}
.myPageLayoutGrid {
	display: grid;
	grid-column-gap: 0.5em;
	grid-row-gap: 1em;
	grid-template-rows: auto;
	grid-template-columns: 100fr 100fr;
	grid-template-areas:
	"egAside1"
	"egAside2";
}
.myGridArticle {
	grid-area: egArticle;
}
.myGridAside1 {
	grid-area: egAside1;
}
.myGridAside2 {
	grid-area: egAside2;
}
.ABS {
	position: absolute;
}
.relpos {
	position: relative;
}
#tong {
	width: 800px;
	height: 400px;
}
#po {
	right: 0px;
	bottom: 70px;
	height: 100px;
	width: 100px;
}
#to {
	left: 300px;
	top: 10px;
	width: 99px;
}
#go {
	right: 10px;
	top: 20px;
	width: 300px;
	z-index: 7;
}
#og {
	left: 20px;
	bottom: 10px;
	width: 400px;
	border-radius: 10px
	z-index: 10;
}
#ton {
	width: 300px;
	left: 500px;
	z-index: 6;
}


























































































/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 1px solid HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}
/********************************/